* {
  padding: 1px;
  margin: 1px;
  box-sizing: border-box;
}

.err {
  padding: 5px 10px;
  font-size: 1.2rem;
  border: 2px solid red;
  color: red;
  background-color: rgb(209, 209, 209);
}
.notif {
  padding: 5px 10px;
  font-size: 1.2rem;
  border: 2px solid green;
  color: green;
  background-color: rgb(209, 209, 209);
}
